


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Film Reel!</h1>
    <p>Track all the movies you've watched and manage your movie reviews on your personal profile.</p>
    <p>Sign In</p>
    <p>Create an Account</p>
</div>


