


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie Tracker!</h1>
    <p>Track all the movies you've watched and manage your movie reviews here.</p>
</div>


